{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "vue"
  ],
  "plugins": [
    [
      "@babel/plugin-transform-runtime"
    ]
  ]
}
